#
# Config for Vagrant AWS access
#
aws:
   access_key_id : 'xxxxxxxxx'  # insert your AWS access key id
   secret_access_key : 'xxxxxx' # and secret access key
   keypair_name	: 'xxxxxxxxxxx' # your private key name
   security_groups : [ 'default', 'xxxxx' ] # you security groups
   region : 'xxxxxxxxxx'	# your AWS region
   instance_type : 'xxxxxxxxxx' # your instance type, ex. t1.micro
   pemfile : 'xxxxxxxxxxxxxxxx' # your private key
