[
{
   "product":		"maxscale",
   "version":		"default",
   "repo":		"###repo_prefix###/###version###/centos/###platform_version###/$basearch",
   "repo_key":		"https://downloads.mariadb.com/MaxScale/MariaDB-MaxScale-GPG-KEY",
   "platform":		"centos",
   "platform_version":	"###platform_version###"
}
]
