[
{
   "product":		"maxscale",
   "version":           "default",
   "repo":		"###repo_prefix###/ubuntu ###platform_version### main",
   "repo_key":		"70E4618A8167EE24",
   "platform":		"ubuntu",
   "platform_version":  "###platform_version###"
}
]
