[
{
   "product":		"maxscale",
   "version":           "default",
   "repo":		"${production_url}/$version//debian ${platform_version} main ",
   "repo_key":		"${deb_repo_key}",
   "platform":		"debian",
   "platform_version":	"${platform_version}"
}
]
