[
{
   "product":		"maxscale",
   "version":           "default",
   "repo":		"${ci_url}/$ci/mariadb-maxscale/ubuntu ${platform_version} main ",
   "repo_key":		"${deb_repo_key}",
   "platform":		"ubuntu",
   "platform_version":	"${platform_version}"
}
]
