{
   "product":	"mdbe",
   "repo":	"http://downloads.mariadb.com/enterprise/WY99-BC52/mariadb-enterprise/###version###/rhel/5",
   "repo_key":	"https://downloads.mariadb.com/enterprise/WY99-BC52/mariadb-enterprise/MariaDB-Enterprise-GPG-KEY",
   "platform":	"rhel"
   "platform_version":	"5"
},
{
   "product":   "mdbe",
   "repo":      "http://downloads.mariadb.com/enterprise/WY99-BC52/mariadb-enterprise/###version###/rhel/6",
   "repo_key":  "https://downloads.mariadb.com/enterprise/WY99-BC52/mariadb-enterprise/MariaDB-Enterprise-GPG-KEY",
   "platform":  "rhel"
   "platform_version":  "6"
},
{
   "product":   "mdbe",
   "repo":      "http://downloads.mariadb.com/enterprise/WY99-BC52/mariadb-enterprise/###version###/rhel/7",
   "repo_key":  "https://downloads.mariadb.com/enterprise/WY99-BC52/mariadb-enterprise/MariaDB-Enterprise-GPG-KEY",
   "platform":  "rhel"
   "platform_version":  "7"
}

