[
{
   "product":		"maxscale",
   "version":		"default",
   "repo":		"###repo_prefix###/centos/###platform_version###/$basearch",
   "repo_key":		"http://maxscale-jenkins.mariadb.com/repository/release/mariadb-maxscale/Maxscale-GPG-KEY.public",
   "platform":		"centos",
   "platform_version":	"###platform_version###"
}
]
